# Eclipse
.classpath
.project
.settings

# IntelliJ
.idea
*.iml

# Build
/**/target/
/bin/

# Compiled test class files
*.class

# MacOS
.DS_Store

# Vuepress
/docs/.vuepress/dist/
/node_modules/
yarn.lock
#deploy.sh